.App {
  text-align: center;
  background-image: linear-gradient(#F3E9D2, rgba(0, 0, 0, 0.64));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-viewer {
  background-color: white;
  height: 100vh;
}

.box-shadow-effect {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
              -5px -5px 10px rgba(0, 0, 0, 0.3);
}